<div class="detailed-targeting-mode__content">
  <div class="detailed-targeting-mode__suggested"
       [ngClass]="{'detailed-targeting-mode__suggested_active': mode === 'suggested'}"
       (click)="setMode('suggested')">
    <span class="detailed-targeting-mode__left-border"></span> Suggested
    <span class="detailed-targeting-mode__tick"></span>
  </div>
  <div class="detailed-targeting-mode__browse"
       [ngClass]="{'detailed-targeting-mode__browse_active': mode === 'browse'}"
       (click)="setMode('browse')">
    <span class="detailed-targeting-mode__left-border"></span> Browse
    <span class="detailed-targeting-mode__tick"></span>
  </div>
</div>
