<div class="detailed-targeting-selected__content">
  <div class="detailed-targeting-selected__group"
       #group
       [ngClass]='{"detailed-targeting-selected__group_hover": group.hovered}'
       *ngFor="let key of structuredSelectedItems.keys">
    <div class="detailed-targeting-selected__group-title"
         (mouseenter)="group.hovered = true;"
         (mouseleave)="group.hovered = false;">
      <div>
        <template ngFor
                  let-crumb
                  [ngForOf]="key.split(' > ')"
                  let-last="last"
                  let-index="index">
          <span class="detailed-targeting-selected__crumb"
                (click)="showCrumb(key, index)">{{ crumb }}</span> <span *ngIf="!last"> &gt; </span>
        </template>
      </div>
      <span class="detailed-targeting-selected__remove detailed-targeting-selected__remove-group"
            (click)="removeGroup(key)">&times;</span>
    </div>
    <div class="detailed-targeting-selected__items">
      <div class="detailed-targeting-selected__item"
           *ngFor="let item of structuredSelectedItems.map[key]">
        <span>{{ item.name }}</span><span class="detailed-targeting-selected__remove detailed-targeting-selected__remove-item"
                                          (click)="removeItem(item)">&times;</span>
      </div>
    </div>
  </div>
</div>
