.content {
  padding: 8px 0;
}

.group_hover {
  background: #f6f7f9
}

.remove {
  position:    absolute;
  top:         50%;
  display:     none;
  color:       #bdc0c8;
  font-weight: bold;
  cursor:      pointer;
  transform:   translateY(-50%);
}

.group_hover .remove_group {
  right:   5px;
  display: inline-block;
}

.group__title {
  position:        relative;
  display:         flex;
  padding:         6px 30px 6px 10px;
  justify-content: space-between;
}

.group__title .crumb {
  color:  #365899;
  cursor: pointer;
}

.group__title .crumb:hover {
  text-decoration: underline;
}

.group__item {
  position:        relative;
  display:         flex;
  margin-left:     22px;
  padding:         6px 0 6px 8px;
  font-weight:     bold;
  justify-content: space-between;
}

.group__item:hover {
  background: #f6f7f9
}

.group__item:hover .remove_item {
  right:   5px;
  display: inline-block;
}
