.detailed-targeting-selected__content {
  opacity:                    1;
  max-height:                 200px;
  overflow-y:                 auto;
  border:                     1px solid #d9dfe7;
  border-bottom:              none;
  border-radius:              3px;
  border-bottom-left-radius:  0;
  border-bottom-right-radius: 0;
}

.detailed-targeting-selected__group_hover {
  background: #f5fafd
}

.detailed-targeting-selected__remove {
  position:      absolute;
  display:       none;
  color:         #bdc0c8;
  font-weight:   bold;
  cursor:        pointer;
  padding-right: 5px;
  right:         0;
}

.detailed-targeting-selected__group_hover .detailed-targeting-selected__remove-group {
  display: inline-block;
}

.detailed-targeting-selected__group-title {
  position:        relative;
  display:         flex;
  padding:         6px 0px 6px 10px;
  justify-content: space-between;
  align-content:   center;
}

.detailed-targeting-selected__group-title .detailed-targeting-selected__crumb {
  color:  #365899;
  cursor: pointer;
}

.detailed-targeting-selected__group-title .detailed-targeting-selected__crumb:hover {
  text-decoration: underline;
}

.detailed-targeting-selected__item {
  position:        relative;
  display:         flex;
  margin-left:     22px;
  padding:         6px 0 6px 8px;
  font-weight:     bold;
  justify-content: space-between;
}

.detailed-targeting-selected__item:hover {
  background: #f5fafd
}

.detailed-targeting-selected__item:hover .detailed-targeting-selected__remove-item {
  display: inline-block;
}

.detailed-targeting-selected__group-devider {
  height:  1px;
  padding: 0 8px;
}

.detailed-targeting-selected__group-devider:after {
  content:    "";
  display:    block;
  height:     100%;
  background: #d9dfe7;
}
