<header>
  <h3> Welcome to the Dashboard!</h3>
  <!--<h3> Welcome to the Dashboard {{user.name}}!</h3>-->
</header>
<section>
  <p style="font-size: 16px">You can select aitarget components from the left sidebar for preview.</p>
  <!--<form [formGroup]="form" (ngSubmit)="submitState()" autocomplete="off">-->
  <!--<md-input formControlName="name" [placeholder]="nameLabel"></md-input><br>-->
  <!--<button md-raised-button color="primary">Update store</button>-->
  <!--<button md-raised-button color="accent" type="button" (click)="clearName()">Clear name</button>-->
  <!--</form>-->
  <!--<br><br>-->
  <!--<button id="my-logout-button" md-raised-button color="accent" (click)="logout()">Logout</button>-->
</section>
