nav a {
  display:          inline-block;
  margin-top:       10px;
  padding:          5px 10px;
  border-radius:    4px;
  background-color: #eeeeee;
  text-decoration:  none;
}

nav a:visited, a:link {
  color: #607d8b;
}

nav a:hover {
  background-color: #cfd8dc;
  color:            #039be5;
}

nav a.active {
  color: #039be5;
}
