<div class="demo-detailed-targeting__component-buttons">
  <button md-raised-button
          (click)="hideDetailedTargeting = !hideDetailedTargeting">Toggle</button>
  <button md-raised-button
          (click)="lang = 'en_US'">EN</button>
  <button md-raised-button
          (click)="lang = 'ru_RU'">RU</button>
  <button md-raised-button
          (click)="lang = 'zh_CN'">CN</button>
  <button md-raised-button
          (click)="showSpec = !showSpec">Show Spec</button>
</div>

<div class="detailed-targeting-wrapper">
  <detailed-targeting
    *ngIf="!hideDetailedTargeting"
    [spec]="spec"
    [onChange]="onChange"
    [adaccountId]="'act_944874195534529'"
    [lang]="lang"></detailed-targeting>
</div>
<pre class="demo-detailed-targeting__spec"
     *ngIf="showSpec">{{ spec | json}}</pre>
