.demo-detailed-targeting__component-buttons {
  padding-bottom: 20px
}

.demo-detailed-targeting__spec {
  font-size: 14px
}

.fba-detailed-targeting-wrapper {
  display:         flex;
  justify-content: center;
}

fba-control-squeeze {
  width: 50%;
}
