<div class="demo-detailed-targeting__component-buttons">
  <button md-raised-button
          (click)="hideDetailedTargeting = !hideDetailedTargeting">Toggle</button>
  <button md-raised-button
          (click)="showSpec(true, $event)">Show Spec</button>
  <fba-localization></fba-localization>
</div>

<div class="detailed-targeting-wrapper">
  <detailed-targeting
    *ngIf="!hideDetailedTargeting"
    [(ngModel)]="spec"
    [adaccountId]="'act_944874195534529'"></detailed-targeting>
</div>

<fba-spec (close)="showSpec(false, $event)"
          *ngIf="isSpecVisible"
          [spec]="spec"></fba-spec>
