:host {
  position:    absolute;
  display:     block;
  height:      100%;
  width:       100%;
  font-size:   12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow:    auto;
}

.app__conent {
  width:  500px;
  margin: 50px auto;
}
