:host {
  position:         absolute;
  left:             15%;
  width:            500px;
  height:           64px;
  font-size:        12px;
  font-family:      helvetica, arial, 'lucida grande', sans-serif;
}
