.info {
  position:    absolute;
  right:       -230px;
  box-sizing:  border-box;
  margin-top:  -33px;
  padding:     8px;
  width:       230px;
  height:      305px;
  border:      1px solid #bdc7d8;
  border-left: none;
  background:  #ffffff;
}

.audience-size {
  font-weight: bold;
  font-size:   16px;
}

.audience-size span {
  color:       #1d2129;
  font-weight: normal;
  font-size:   12px;
}

.audience-size {
  margin-bottom: 12px;
}

.breadcrumbs {
  margin-bottom: 12px;
  color:         #666666;
  font-weight:   normal;
}

.first-crumb {
  color:       #1d2129;
  font-weight: bold;
}

.devider {
  display: inline-block;
  padding: 0 5px;
}

.description {
  color:       #666666;
  font-weight: normal;
}

.description-label {
  color:       #1d2129;
  font-weight: bold;
}
