.detailed-targeting-info__content {
  position:      absolute;
  right:         -230px;
  bottom:        0;
  z-index:       10;
  box-sizing:    border-box;
  padding:       8px;
  width:         230px;
  height:        232px;
  border:        1px solid #bdc7d8;
  border-radius: 0 3px 3px 0;
  border-left:   none;
  background:    #ffffff;
}

.detailed-targeting-info__audience-size {
  font-weight: bold;
  font-size:   16px;
}

.detailed-targeting-info__audience-size-postfix {
  color:       #1d2129;
  font-weight: normal;
}

.detailed-targeting-info__audience-size {
  margin-bottom: 12px;
}

.detailed-targeting-info__breadcrumbs {
  margin-bottom: 12px;
  color:         #666666;
  font-weight:   normal;
}

.detailed-targeting-info__first-crumb {
  color:       #1d2129;
  font-weight: bold;
}

.detailed-targeting-info__description {
  color:       #666666;
  font-weight: normal;
}

.detailed-targeting-info__description-label {
  color:       #1d2129;
  font-weight: bold;
}
