.detailed-targeting-dropdown-suggested__list {
  position:   relative;
  display:    block;
  overflow-y: auto;
  box-sizing: border-box;
  margin:     0;
  padding:    0;
  max-height: 272px;
  width:      100%;
  height:     auto;
  border:     1px solid #bdc7d8;
  border-top: none;
}

.detailed-targeting-dropdown-suggested__row {
  position:        relative;
  display:         flex;
  overflow:        hidden;
  padding-right:   12px;
  padding-left:    18px;
  height:          31px;
  background:      white;
  color:           #b2b2b2;
  text-overflow:   ellipsis;
  white-space:     nowrap;
  font-weight:     bold;
  font-size:       12px;
  cursor:          pointer;
  align-items:     center;
  justify-content: space-between;
}

.detailed-targeting-dropdown-suggested__row:hover {
  background: #f6f7f9;
}

.detailed-targeting-dropdown-suggested__name {
  color:     #1d2129;
  font-size: 12px;
}

.detailed-targeting-dropdown-suggested__type {
  color:       #b2b2b2;
  font-weight: normal;
}
