<ul class="detailed-targeting-dropdown-suggested__list"
    [ngClass]="{'detailed-targeting-dropdown-suggested__list_active-info': activeInfo}"
    *ngIf="items && items.length && (mode === 'search' || mode === 'suggested')">
  <li class="detailed-targeting-dropdown-suggested__row"
      *ngFor="let item of items"
      (mouseover)="setDropdownInfoItem(item)"
      (mouseout)="setDropdownInfoItem(null)"
      (click)="selectItem(item)">
    <div class="detailed-targeting-dropdown-suggested__name">{{item.name}}</div>
    <div class="detailed-targeting-dropdown-suggested__type">{{item.type | typeToHuman}}</div>
  </li>
</ul>
