<div class="demo-targeting__component-buttons">
  <button md-raised-button
          (click)="hideTargeting = !hideTargeting">Toggle</button>
  <button md-raised-button
          (click)="lang = 'en_US'">EN</button>
  <button md-raised-button
          (click)="lang = 'ru_RU'">RU</button>
  <button md-raised-button
          (click)="lang = 'zh_CN'">CN</button>
  <button md-raised-button
          (click)="showSpec(true, $event)">Show Spec</button>
</div>

<div class="targeting-wrapper"
     *ngIf="hideTargeting">
  <fba-targeting
    [spec]="spec"
    (onChange)="onChange($event)"></fba-targeting>

</div>

<fba-spec (close)="showSpec(false, $event)"
          *ngIf="isSpecVisible"
          [spec]="spec"></fba-spec>
