<ul class="detailed-targeting-dropdown-browse__list"
    *ngIf="items && items.length && mode === 'browse'">
  <template ngFor
            let-item
            [ngForOf]="items">
    <li class="detailed-targeting-dropdown-browse__row"
        *ngIf="openItems[item.parent]"
        [attr.data-key]="item?.key"
        (mouseover)="setDropdownInfoItem(item)"
        (mouseout)="setDropdownInfoItem(null)">
      <div class="detailed-targeting-dropdown-browse__row-content">
        <div class="detailed-targeting-dropdown-browse__row-cell detailed-targeting-dropdown-browse__row-tick"
             (click)="clickItem(item)"
             [ngClass]="{'detailed-targeting-dropdown-browse__row-tick_open': openItems[item.key]}"
             [ngStyle]="{'width': 23 + 15 * item.path?.length + 'px'}">
          <div class="detailed-targeting-dropdown-browse__row-tick-content"
               *ngIf="!item.id && !item.searchable"></div>
        </div>
        <div class="detailed-targeting-dropdown-browse__row-cell detailed-targeting-dropdown-browse__row-name"
             (click)="clickItem(item)">{{item.name}}
        </div>
        <div class="detailed-targeting-dropdown-browse__row-cell detailed-targeting-dropdown-browse__row-addon"
             [ngClass]='{"detailed-targeting-dropdown-browse__row-addon_parent": item.isParent}'>
          <div class="detailed-targeting-dropdown-browse__row-search"
               *ngIf="item.searchable">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v2/yZ/r/xcjB9wqvY-g.png"
                 width="16"
                 height="16"
                 alt="search icon">
          </div>
          <div class="detailed-targeting-dropdown-browse__row-checkbox-parent"
               *ngIf="item.isParent">
            <browse-multi-select [item]="item"></browse-multi-select>
          </div>
          <div class="detailed-targeting-dropdown-browse__row-checkbox"
               (click)="clickItem(item)">
            <label *ngIf="item.id">
              <input type="checkbox"
                     [(ngModel)]="item.selected">
            </label>
          </div>
        </div>
      </div>
    </li>
  </template>
</ul>
