<div class="demo-geo-targeting__component-buttons">
  <button md-raised-button
          (click)="hideGeoTargeting = !hideGeoTargeting">Toggle</button>
  <button md-raised-button
          (click)="lang = 'en_US'">EN</button>
  <button md-raised-button
          (click)="lang = 'ru_RU'">RU</button>
  <button md-raised-button
          (click)="lang = 'zh_CN'">CN</button>
  <button md-raised-button
          (click)="showSpec = !showSpec">Show Spec</button>
</div>

<div class="geo-targeting-wrapper">
  <geo-targeting
    *ngIf="!hideGeoTargeting"
    [spec]="spec"
    [onChange]="onChange"
    [adaccountId]="'act_944874195534529'"
    [lang]="lang"></geo-targeting>
</div>

<pre class="demo-geo-targeting__spec"
     *ngIf="showSpec">{{ spec | json}}</pre>
