<div class="demo-geo-targeting__component-buttons">
  <button md-raised-button
          (click)="hideGeoTargeting = !hideGeoTargeting">Toggle</button>
  <button md-raised-button
          (click)="showSpec(true, $event)">Show Spec</button>
  <fba-localization></fba-localization>
</div>

<div class="geo-targeting-wrapper">
  <geo-targeting *ngIf="!hideGeoTargeting"
                 [(ngModel)]="spec"
                 [lang]="lang"></geo-targeting>
</div>

<fba-spec (close)="showSpec(false, $event)"
          *ngIf="isSpecVisible"
          [spec]="spec"></fba-spec>
