.demo-geo-targeting__component-buttons {
  padding-bottom: 20px
}

.demo-geo-targeting__spec {
  font-size: 14px
}

.geo-targeting-wrapper {
  display:         flex;
  justify-content: center;
  margin:          10px 0;
}

geo-targeting {
  width: 90%;
}
