.demo-geo__component-buttons {
  padding-bottom: 20px
}

.demo-geo__spec {
  font-size: 14px
}

.fba-geo-wrapper {
  display:         flex;
  justify-content: center;
  margin:          10px 0;
}

fba-geo {
  width: 50%;
}
